<h1> Om oss...</h1>
<p> Detta är en sida som skapats under praktiken för att få lärdom kring programmering. 
Målet med sidan är att den ska utvecklas under hela praktikperioden med nya funktioner och metoder som jag lär mig under dessa 6 månader.</p>