 <table class="table table-dark table-striped table-bordered border-secondary table table-striped table-hover"">
  <span class="border border-white"></span>
    <thead>
      <tr>
      <%= render @praktikanter %>
      </thead>
      </tr>

<div>
  <%= link_to "Redigera", edit_praktikanter_path(@praktikanter), class:"btn btn-secondary" %>
  <%= link_to "Tillbaka", praktikanters_path, class:"btn btn-secondary" %>

</div>
